body {
    background-color: white;
    color: black;
}

.stApp {
    background-color: white;
}

.stButton > button {
    background-color: #2563EB;
    color: white;
    border-radius: 12px;
    border: none;
    height: 50px;
    font-weight: bold;
}

.stTextArea textarea {
    border-radius: 12px;
}

.stSelectbox div {
    border-radius: 10px;
}